---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/projects/19919748/user_assignments
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app5
      X-Server:
      - lb1
    body:
      encoding: UTF-8
      string: '{"user_assignments":[{"id":186878707,"is_project_manager":false,"is_active":true,"budget":null,"created_at":"2019-01-25T18:31:11Z","updated_at":"2019-01-25T18:31:11Z","hourly_rate":null,"project":{"id":19919748,"name":"Castle
        Building","code":null},"user":{"id":2527915,"name":"John Smith"}},{"id":186878706,"is_project_manager":true,"is_active":true,"budget":null,"created_at":"2019-01-25T18:31:10Z","updated_at":"2019-01-25T18:31:10Z","hourly_rate":null,"project":{"id":19919748,"name":"Castle
        Building","code":null},"user":{"id":2348607,"name":"Alexander Hamilton"}}],"per_page":100,"total_pages":1,"total_entries":2,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/projects/19919748/user_assignments?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/projects/19919748/user_assignments?page=1&per_page=100"}}'
  recorded_at: Tue, 29 Jan 2019 03:02:02 GMT
recorded_with: VCR 4.0.0
