---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/invoices
    body:
      encoding: UTF-8
      string: '{"client_id":"7822918","client":{"id":"7822918"},"line_items_import":{"project_ids":[20205362],"time":{"summary_type":"task"},"expenses":{"summary_type":"category"}}}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app4
      Location:
      - https://api.harvestapp.com/api/v2/invoices/19257711
      X-Server:
      - lb3
    body:
      encoding: UTF-8
      string: '{"id":19257711,"client_key":"780a410a6adb1d55067daf31f6766854384aa799","number":"1","purchase_order":null,"amount":0.0,"due_amount":0.0,"tax":null,"tax_amount":0.0,"tax2":null,"tax2_amount":0.0,"discount":null,"discount_amount":0.0,"subject":null,"notes":null,"state":"draft","period_start":"2018-10-23","period_end":"2019-02-18","issue_date":"2019-02-19","due_date":"2019-02-19","payment_term":"custom","sent_at":null,"paid_at":null,"closed_at":null,"created_at":"2019-02-19T15:09:31Z","updated_at":"2019-02-19T15:09:31Z","paid_date":null,"currency":"USD","client":{"id":7822918,"name":"Pepe"},"estimate":null,"retainer":null,"creator":{"id":2528520,"name":"Chim
        takpa"},"line_items":[{"id":85499668,"kind":"Service","description":"Castle
        Building: Coding (23/10/2018 - 18/02/2019)","quantity":714.0,"unit_price":0.0,"amount":0.0,"taxed":false,"taxed2":false,"project":{"id":20205362,"name":"Castle
        Building","code":null}}]}'
  recorded_at: Tue, 19 Feb 2019 15:09:32 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/invoices/19257711
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app9
      X-Server:
      - lb3
    body:
      encoding: UTF-8
      string: '{"id":19257711,"client_key":"780a410a6adb1d55067daf31f6766854384aa799","number":"1","purchase_order":null,"amount":0.0,"due_amount":0.0,"tax":null,"tax_amount":0.0,"tax2":null,"tax2_amount":0.0,"discount":null,"discount_amount":0.0,"subject":null,"notes":null,"state":"draft","period_start":"2018-10-23","period_end":"2019-02-18","issue_date":"2019-02-19","due_date":"2019-02-19","payment_term":"custom","sent_at":null,"paid_at":null,"closed_at":null,"created_at":"2019-02-19T15:09:31Z","updated_at":"2019-02-19T15:09:31Z","paid_date":null,"currency":"USD","client":{"id":7822918,"name":"Pepe"},"estimate":null,"retainer":null,"creator":{"id":2528520,"name":"Chim
        takpa"},"line_items":[]}'
  recorded_at: Tue, 19 Feb 2019 15:09:35 GMT
recorded_with: VCR 4.0.0
