---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/invoices
    body:
      encoding: UTF-8
      string: '{"client_id":"7817471","client":{"id":"7817471"},"line_items":[{"kind":"Service","unit_price":20.0,"quantity":50},{"kind":"Product","unit_price":300.0,"quantity":10}]}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app19
      Location:
      - https://api.harvestapp.com/api/v2/invoices/19246385
      X-Server:
      - lb3
    body:
      encoding: UTF-8
      string: '{"id":19246385,"client_key":"95a0adb2d3c05702364f6140f8e7ddde52bd3deb","number":"1","purchase_order":null,"amount":4000.0,"due_amount":4000.0,"tax":null,"tax_amount":0.0,"tax2":null,"tax2_amount":0.0,"discount":null,"discount_amount":0.0,"subject":null,"notes":null,"state":"draft","period_start":null,"period_end":null,"issue_date":"2019-02-18","due_date":"2019-02-18","payment_term":"custom","sent_at":null,"paid_at":null,"closed_at":null,"created_at":"2019-02-18T09:21:31Z","updated_at":"2019-02-18T09:21:31Z","paid_date":null,"currency":"USD","client":{"id":7817471,"name":"Pepe"},"estimate":null,"retainer":null,"creator":{"id":2528520,"name":"Chim
        takpa"},"line_items":[{"id":85435627,"kind":"Service","description":null,"quantity":50.0,"unit_price":20.0,"amount":1000.0,"taxed":false,"taxed2":false,"project":null},{"id":85435628,"kind":"Product","description":null,"quantity":10.0,"unit_price":300.0,"amount":3000.0,"taxed":false,"taxed2":false,"project":null}]}'
  recorded_at: Mon, 18 Feb 2019 09:21:31 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/invoices/19246385
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app9
      X-Server:
      - lb3
    body:
      encoding: UTF-8
      string: '{"id":19246385,"client_key":"95a0adb2d3c05702364f6140f8e7ddde52bd3deb","number":"1","purchase_order":null,"amount":4000.0,"due_amount":4000.0,"tax":null,"tax_amount":0.0,"tax2":null,"tax2_amount":0.0,"discount":null,"discount_amount":0.0,"subject":null,"notes":null,"state":"draft","period_start":null,"period_end":null,"issue_date":"2019-02-18","due_date":"2019-02-18","payment_term":"custom","sent_at":null,"paid_at":null,"closed_at":null,"created_at":"2019-02-18T09:21:31Z","updated_at":"2019-02-18T09:21:31Z","paid_date":null,"currency":"USD","client":{"id":7817471,"name":"Pepe"},"estimate":null,"retainer":null,"creator":{"id":2528520,"name":"Chim
        takpa"},"line_items":[]}'
  recorded_at: Mon, 18 Feb 2019 09:21:33 GMT
recorded_with: VCR 4.0.0
