---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/invoices
    body:
      encoding: UTF-8
      string: '{"client_id":"7754039","client":{"id":"7754039"},"line_items":[{"kind":"Service","unit_price":20.0,"quantity":50}]}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app9
      Location:
      - https://api.harvestapp.com/api/v2/invoices/19155375
      X-Server:
      - lb4
    body:
      encoding: UTF-8
      string: '{"id":19155375,"client_key":"29f837c7787992255e39dc46a1ddb3da1b2cc737","number":"2","purchase_order":null,"amount":1000.0,"due_amount":1000.0,"tax":null,"tax_amount":0.0,"tax2":null,"tax2_amount":0.0,"discount":null,"discount_amount":0.0,"subject":null,"notes":null,"state":"draft","period_start":null,"period_end":null,"issue_date":"2019-02-07","due_date":"2019-02-07","payment_term":"custom","sent_at":null,"paid_at":null,"closed_at":null,"created_at":"2019-02-06T19:25:40Z","updated_at":"2019-02-06T19:25:40Z","paid_date":null,"currency":"USD","client":{"id":7754039,"name":"Pepe"},"estimate":null,"retainer":null,"creator":{"id":2528520,"name":"Chim
        takpa"},"line_items":[{"id":84914309,"kind":"Service","description":null,"quantity":50.0,"unit_price":20.0,"amount":1000.0,"taxed":false,"taxed2":false,"project":null}]}'
  recorded_at: Wed, 06 Feb 2019 19:25:41 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/invoices/19155375
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app6
      X-Server:
      - lb1
    body:
      encoding: UTF-8
      string: '{"id":19155375,"client_key":"29f837c7787992255e39dc46a1ddb3da1b2cc737","number":"2","purchase_order":null,"amount":1000.0,"due_amount":1000.0,"tax":null,"tax_amount":0.0,"tax2":null,"tax2_amount":0.0,"discount":null,"discount_amount":0.0,"subject":null,"notes":null,"state":"draft","period_start":null,"period_end":null,"issue_date":"2019-02-07","due_date":"2019-02-07","payment_term":"custom","sent_at":null,"paid_at":null,"closed_at":null,"created_at":"2019-02-06T19:25:40Z","updated_at":"2019-02-06T19:25:40Z","paid_date":null,"currency":"USD","client":{"id":7754039,"name":"Pepe"},"estimate":null,"retainer":null,"creator":{"id":2528520,"name":"Chim
        takpa"},"line_items":[]}'
  recorded_at: Wed, 06 Feb 2019 19:25:42 GMT
recorded_with: VCR 4.0.0
