---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/time_entries
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app19
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"time_entries":[{"id":925120241,"spent_date":"2019-01-13","hours":6.0,"notes":null,"is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null,"created_at":"2019-01-14T05:28:47Z","updated_at":"2019-01-14T05:28:47Z","user":{"id":2348607,"name":"Alexander
        Hamilton"},"client":{"id":7664502,"name":"Pepe","currency":"USD"},"project":{"id":19758856,"name":"Castle
        Building","code":null},"task":{"id":11308412,"name":"Coding"},"user_assignment":{"id":185245986,"is_project_manager":true,"is_active":true,"budget":null,"created_at":"2019-01-14T05:28:46Z","updated_at":"2019-01-14T05:28:46Z","hourly_rate":null},"task_assignment":{"id":213359852,"billable":true,"is_active":true,"created_at":"2019-01-14T05:28:47Z","updated_at":"2019-01-14T05:28:47Z","hourly_rate":null,"budget":null},"invoice":null,"external_reference":null},{"id":925120243,"spent_date":"2019-01-12","hours":6.0,"notes":null,"is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null,"created_at":"2019-01-14T05:28:48Z","updated_at":"2019-01-14T05:28:48Z","user":{"id":2348607,"name":"Alexander
        Hamilton"},"client":{"id":7664502,"name":"Pepe","currency":"USD"},"project":{"id"[...]
- request:
    method: get
    uri: https://api.harvestapp.com/v2/time_entries?page=2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app4
      X-Server:
      - lb2
    body:
      e[...]
