---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/time_entries
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_NON_ADMIN_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app20
      X-Server:
      - lb4
    body:
      encoding: UTF-8
      string: '{"time_entries":[],"per_page":100,"total_pages":1,"total_entries":0,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/time_entries?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/time_entries?page=1&per_page=100"}}'
  recorded_at: Fri, 25 Jan 2019 18:32:10 GMT
recorded_with: VCR 4.0.0
