---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/time_entries
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-App-Server:
      - harvestapp-5c9b947564-wq77b
      Etag:
      - W/"0072f549791ed781d179e113d05a994d"
    body:
      encoding: UTF-8
      string: '{"time_entries":[{"id":2380504951,"spent_date":"2024-05-23","hours":2.0,"hours_without_timer":2.0,"rounded_hours":2.0,"notes":"Updated
        notes","is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":true,"billable_rate":100.0,"cost_rate":null,"created_at":"2024-05-23T15:14:37Z","updated_at":"2024-05-23T17:13:48Z","user":{"id":4955639,"name":"Greg
        Crossley"},"client":{"id":15058255,"name":"ACME Corporation","currency":"CAD"},"project":{"id":41068261,"name":"Website
        Redesign","code":null},"task":{"id":22630607,"name":"Design"},"user_assignment":{"id":469091556,"is_project_manager":true,"is_active":true,"use_default_rates":true,"budget":null,"created_at":"2024-05-23T15:08:43Z","updated_at":"2024-05-23T15:08:43Z","hourly_rate":null},"task_assignment":{"id":451231296,"billable":true,"is_active":true,"created_at":"2024-05-23T15:08:43Z","updated_at":"2024-05-23T15:08:43Z","hourly_rate":100.0,"budget":null},"invoice":null,"external_reference":null},{"id":2380504861,"spent_date":"2024-05-23","hours":5.0,"hours_without_timer":5.0,"rounded_hours":5.0,"notes":"Brainstorming","is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":true,"billable_rate":100.0,"cost_rate":null,"created_at":"2024-05-23T15:14:32Z","updated_at":"2024-05-23T15:14:32Z","user":{"id":4955639,"name":"Greg
        Crossley"},"client":{"id":15[...]
