---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/time_entries
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app4
      X-Server:
      - lb4
    body:
      encoding: UTF-8
      string: '{"time_entries":[{"id":933384584,"spent_date":"2019-01-24","hours":6.0,"notes":null,"is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null,"created_at":"2019-01-25T18:31:12Z","updated_at":"2019-01-25T18:31:12Z","user":{"id":2348607,"name":"Alexander
        Hamilton"},"client":{"id":7722246,"name":"Pepe","currency":"USD"},"project":{"id":19919748,"name":"Castle
        Building","code":null},"task":{"id":11399145,"name":"Coding"},"user_assignment":{"id":186878706,"is_project_manager":true,"is_active":true,"budget":null,"created_at":"2019-01-25T18:31:10Z","updated_at":"2019-01-25T18:31:10Z","hourly_rate":null},"task_assignment":{"id":215014748,"billable":true,"is_active":true,"created_at":"2019-01-25T18:31:11Z","updated_at":"2019-01-25T18:31:11Z","hourly_rate":null,"budget":null},"invoice":null,"external_reference":null},{"id":933384588,"spent_date":"2019-01-23","hours":6.0,"notes":null,"is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null,"created_at":"2019-01-25T18:31:13Z","updated_at":"2019-01-25T18:31:13Z","user":{"id":2348607,"name":"Alexander
        Hamilton"},"client":{"id":7722246,"name":"Pepe","currency":"USD"},"project":{"id"[...]
