---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/time_entries
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app7
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"time_entries":[{"id":864926308,"spent_date":"2018-09-25","hours":6.0,"notes":null,"is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null,"created_at":"2018-09-26T19:38:03Z","updated_at":"2018-09-26T19:38:03Z","user":{"id":2348607,"name":"M.
        Scott Ford"},"client":{"id":7247638,"name":"Pepe","currency":"USD"},"project":{"id":18665855,"name":"Castle
        Building","code":null},"task":{"id":10616483,"name":"Coding"},"user_assignment":{"id":172471613,"is_project_manager":true,"is_active":true,"budget":null,"created_at":"2018-09-26T19:38:02Z","updated_at":"2018-09-26T19:38:02Z","hourly_rate":null},"task_assignment":{"id":201779721,"billable":true,"is_active":true,"created_at":"2018-09-26T19:38:02Z","updated_at":"2018-09-26T19:38:02Z","hourly_rate":null,"budget":null},"invoice":null,"external_reference":null},{"id":864926314,"spent_date":"2018-09-24","hours":6.0,"notes":null,"is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null,"created_at":"2018-09-26T19:38:03Z","updated_at":"2018-09-26T19:38:03Z","user":{"id":2348607,"name":"M.
        Scott Ford"},"client":{"id":7247638,"name":"Pepe","currency":"USD"},"project":{"id":1866[...]
- request:
    method: get
    uri: https://api.harvestapp.com/v2/time_entries?page=2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app21
      X-Server:
      - lb2
    body:
      [...]
