---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 9999999.pt.abcdef
      Harvest-Account-Id:
      - '848484'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app19
      X-Server:
      - lb2
    body:
      encoding: ASCII-8BIT
      string: '{"id":1969760,"first_name":"Ernesto","last_name":"Tagwerker","email":"ernesto@ombulabs.com","telephone":"","timezone":"Eastern
        Time (US & Canada)","weekly_capacity":72000,"has_access_to_all_future_projects":false,"is_contractor":true,"is_admin":false,"is_project_manager":false,"can_see_rates":false,"can_create_projects":false,"can_create_invoices":false,"is_active":true,"created_at":"2018-01-26T22:59:16Z","updated_at":"2018-04-06T23:00:08Z","roles":[],"avatar_url":"https://cache.harvestapp.com/assets/profile_images/allen_bradley_clock_tower.png?1517007556"}'
  recorded_at: Tue, 01 May 2018 21:25:01 GMT
recorded_with: VCR 4.0.0
