---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/users/me
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_NON_ADMIN_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app9
      X-Server:
      - lb4
    body:
      encoding: UTF-8
      string: '{"id":2516167,"first_name":"Aaron","last_name":"Burr","email":"scott+harvested-employee@corgibytes.com","telephone":"","timezone":"Eastern
        Time (US & Canada)","weekly_capacity":126000,"has_access_to_all_future_projects":false,"is_contractor":false,"is_admin":false,"is_project_manager":false,"can_see_rates":false,"can_create_projects":false,"can_create_invoices":false,"is_active":true,"created_at":"2019-01-18T21:21:18Z","updated_at":"2019-01-18T21:25:16Z","roles":[],"avatar_url":"https://cache.harvestapp.com/assets/profile_images/abraj_albait_towers.png?1547846478"}'
  recorded_at: Fri, 25 Jan 2019 18:32:09 GMT
recorded_with: VCR 4.0.0
