---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/projects/19815868
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app4
      X-Server:
      - lb1
    body:
      encoding: UTF-8
      string: '{"id":19815868,"name":"X","code":"","is_active":true,"is_billable":true,"is_fixed_fee":false,"bill_by":"none","budget":null,"budget_by":"none","budget_is_monthly":false,"notify_when_over_budget":false,"over_budget_notification_percentage":80.0,"show_budget_to_all":false,"created_at":"2019-01-17T15:41:13Z","updated_at":"2019-01-17T15:41:13Z","starts_on":null,"ends_on":null,"over_budget_notification_date":null,"notes":"","cost_budget":null,"cost_budget_include_expenses":false,"hourly_rate":null,"fee":null,"client":{"id":6760579,"name":"Pepe","currency":"USD"}}'
  recorded_at: Thu, 17 Jan 2019 15:42:32 GMT
recorded_with: VCR 4.0.0
