---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/clients
    body:
      encoding: UTF-8
      string: '{"name":"Mr. Robot"}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-App-Server:
      - app3
      Location:
      - https://api.harvestapp.com/api/v2/clients/10331953
      Etag:
      - W/"98188a5156309a3babc9ff7e0c4f98b0"
      X-Server:
      - lb4
    body:
      encoding: UTF-8
      string: '{"id":10331953,"name":"Mr. Robot","is_active":true,"address":null,"statement_key":"b0e8f3951e5cd5b28ad3ea7a8f6311ab","created_at":"2021-01-15T02:39:10Z","updated_at":"2021-01-15T02:39:10Z","currency":"USD"}'
  recorded_at: Fri, 15 Jan 2021 02:39:10 GMT
- request:
    method: post
    uri: https://api.harvestapp.com/v2/projects
    body:
      encoding: UTF-8
      string: '{"client_id":10331953,"name":"E-Corp","client":{"id":10331953,"name":"Mr.
        Robot","is_active":true,"address":null,"statement_key":"b0e8f3951e5cd5b28ad3ea7a8f6311ab","created_at":"2021-01-15T02:39:10Z","updated_at":"2021-01-15T02:39:10Z","currency":"USD"}}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-App-Server:
      - app2
      Location:
      - https://api.harvestapp.com/api/v2/projects/27411968
      Etag:
      - W/"a4a511a182aa9acc5271d74d6c47f7d5"
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":27411968,"name":"E-Corp","code":null,"is_active":true,"is_billable":true,"is_fixed_fee":false,"bill_by":"none","budget":null,"budget_by":"none","budget_is_monthly":false,"notify_when_over_budget":false,"over_budget_notification_percentage":80.0,"show_budget_to_all":false,"created_at":"2021-01-15T02:39:27Z","updated_at":"2021-01-15T02:39:27Z","starts_on":null,"ends_on":null,"over_budget_notification_date":null,"notes":null,"cost_budget":null,"cost_budget_include_expenses":false,"hourly_rate":null,"fee":null,"client":{"id":10331953,"name":"Mr.
        Robot","currency":"USD"}}'
  recorded_at: Fri, 15 Jan 2021 02:39:27 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/clients/10331953
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-App-Server:
      - app3
      Hint:
      - This client is not removable. It still has projects and/or invoices.
    body:
      encoding: UTF-8
      string: '{"message":"This client is not removable. It still has projects and/or
        invoices."}'
  recorded_at: Fri, 15 Jan 2021 02:39:27 GMT
recorded_with: VCR 4.0.0
