---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/contacts
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app20
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"contacts":[{"id":6947842,"title":null,"first_name":"Cersei","last_name":"Lannister","email":"","phone_office":"","phone_mobile":"","fax":"","created_at":"2018-09-26T19:38:02Z","updated_at":"2018-09-26T19:38:02Z","client":{"id":7247639,"name":"Toto"}},{"id":6947840,"title":null,"first_name":"Jon","last_name":"Snow","email":"","phone_office":"","phone_mobile":"","fax":"","created_at":"2018-09-26T19:38:01Z","updated_at":"2018-09-26T19:38:01Z","client":{"id":7247638,"name":"Pepe"}}],"per_page":100,"total_pages":1,"total_entries":2,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/contacts?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/contacts?page=1&per_page=100"}}'
  recorded_at: Wed, 26 Sep 2018 19:38:53 GMT
recorded_with: VCR 4.0.0
