---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 9999999.pt.abcdef
      Harvest-Account-Id:
      - '919191'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app7
      X-Server:
      - lb3
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"id":5158512,"title":"","first_name":"Cersei","last_name":"Lannister","email":"","phone_office":"","phone_mobile":"","fax":"","created_at":"2018-05-01T18:50:17Z","updated_at":"2018-05-01T18:50:17Z","client":{"id":6760580,"name":"Toto"}},{"id":5158510,"title":"","first_name":"Jon","last_name":"Snow","email":"","phone_office":"","phone_mobile":"","fax":"","created_at":"2018-05-01T18:50:05Z","updated_at":"2018-05-01T18:50:05Z","client":{"id":6760579,"name":"Pepe"}}],"per_page":100,"total_pages":1,"total_entries":2,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/contacts?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/contacts?page=1&per_page=100"}}'
  recorded_at: Tue, 01 May 2018 21:25:00 GMT
recorded_with: VCR 4.0.0
