---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/clients
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app1
      X-Server:
      - lb4
    body:
      encoding: UTF-8
      string: '{"clients":[{"id":7722247,"name":"Toto","is_active":true,"address":null,"created_at":"2019-01-25T18:31:09Z","updated_at":"2019-01-25T18:31:12Z","currency":"USD"},{"id":7722246,"name":"Pepe","is_active":true,"address":null,"created_at":"2019-01-25T18:31:09Z","updated_at":"2019-01-25T18:31:10Z","currency":"USD"}],"per_page":100,"total_pages":1,"total_entries":2,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/clients?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/clients?page=1&per_page=100"}}'
  recorded_at: Fri, 25 Jan 2019 18:32:08 GMT
recorded_with: VCR 4.0.0
