---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/clients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 9999999.pt.abcdef
      Harvest-Account-Id:
      - '919191'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app4
      X-Server:
      - lb2
    body:
      encoding: ASCII-8BIT
      string: '{"clients":[{"id":6760580,"name":"Toto","is_active":true,"address":"","created_at":"2018-05-01T18:38:40Z","updated_at":"2018-05-01T18:50:17Z","currency":"USD"},{"id":6760579,"name":"Pepe","is_active":true,"address":"","created_at":"2018-05-01T18:38:37Z","updated_at":"2018-05-01T18:50:05Z","currency":"USD"}],"per_page":100,"total_pages":1,"total_entries":2,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/clients?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/clients?page=1&per_page=100"}}'
  recorded_at: Tue, 01 May 2018 21:25:01 GMT
recorded_with: VCR 4.0.0
