---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/clients
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app1
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"clients":[{"id":7664503,"name":"Toto","is_active":true,"address":null,"created_at":"2019-01-14T05:28:45Z","updated_at":"2019-01-14T05:28:47Z","currency":"USD"},{"id":7664502,"name":"Pepe","is_active":true,"address":null,"created_at":"2019-01-14T05:28:45Z","updated_at":"2019-01-14T05:28:46Z","currency":"USD"}],"per_page":100,"total_pages":1,"total_entries":2,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/clients?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/clients?page=1&per_page=100"}}'
  recorded_at: Mon, 14 Jan 2019 05:29:38 GMT
recorded_with: VCR 4.0.0
