---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/invoices
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app7
      X-Server:
      - lb1
    body:
      encoding: UTF-8
      string: '{"invoices":[{"id":23831208,"client_key":"73688e97a43ed497ace45939eb76db6b18427b80","number":"3","purchase_order":"","amount":750.0,"due_amount":750.0,"tax":null,"tax_amount":0.0,"tax2":null,"tax2_amount":0.0,"discount":null,"discount_amount":0.0,"subject":"","notes":"","state":"draft","period_start":null,"period_end":null,"issue_date":"2020-04-07","due_date":"2020-04-07","payment_term":"upon
        receipt","sent_at":null,"paid_at":null,"closed_at":null,"recurring_invoice_id":null,"created_at":"2020-04-07T07:27:13Z","updated_at":"2020-04-07T07:27:13Z","paid_date":null,"currency":"DKK","client":{"id":9343060,"name":"Traels.it"},"estimate":null,"retainer":null,"creator":{"id":3211810,"name":"Nicolai
        Bach Woller"},"line_items":[{"id":109677268,"kind":"Service","description":"","quantity":3.0,"unit_price":250.0,"amount":750.0,"taxed":false,"taxed2":false,"project":{"id":24566828,"name":"Harvest
        Billing Automation","code":""}}]},{"id":23831206,"client_key":"1da2f2458310563da46daebe4b732d2417458a05","number":"2","purchase_order":"","amount":750.0,"due_amount":0.0,"tax":null,"tax_amount":0.0,"tax2":null,"tax2_amount":0.0,"discount":null,"discount_amount":0.0,"subject":"","notes":"","state":"paid","period_start":null,"period_end":null,"issue_date":"2020-04-07","due_date":"2020-04-07","payment_term":"upon
        receipt","sent_at":null,"paid_at":"2020[...]
