---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/projects/1234/user_assignments
    body:
      encoding: UTF-8
      string: '{"project_id":"1234","user_id":"5678","project":{"id":"1234"},"user":{"id":"5678"}}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-App-Server:
      - app1
      Hint:
      - ''
    body:
      encoding: UTF-8
      string: '{"id":125068758,"is_project_manager":false,"is_active":true,"use_default_rates":false,"budget":null,"created_at":"2017-06-26T22:36:01Z","updated_at":"2017-06-26T22:36:01Z","hourly_rate":75.5,"project":{"id":1234,"name":"Online Store - Phase 1","code":"OS1"},"user":{"id":5678,"name":"Jim Allen"}}'
  recorded_at: Fri, 21 Aug 2020 20:25:17 GMT
recorded_with: VCR 4.0.0
