---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/projects//user_assignments
    body:
      encoding: UTF-8
      string: '{"project_id":null,"user_id":"5678","project":{"id":null},"user":{"id":"5678"}}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html lang="en">
        <head>
          <meta charset="utf-8">
          <meta http-equiv="Pragma" content="no-cache" />
          <title>HARVEST: Canʼt find page</title>

          <!-- Global site tag (gtag.js) - Google Analytics -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103886-9"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-103886-9', {cookie_flags: 'max-age=7200;secure;samesite=none'});
          </script>

          <script>
            <!--

            var accounturl = null;

            function url_test() {
              accounturl = window.location.href.substr(0, window.location.href.search(/\.com/)+4);
              if(window.location.port) accounturl += ":" + window.location.port;
              accounturl += "/";

              var host = window.location.hostname;
              var wwwexp = /www/;

              if(!wwwexp.test(host)){
                var re = new RegExp(/^([^.]+)\..*$/);
                var m = re.exec(host);
                if (m != null && m[1]!="www" && m[1]!="localhost"){
                  document.getElementById('account404').style.display = 'list-item';
                  document.getElementById('market404').style.display = 'none';
                }
              }
            }

            // End -->
          </script>
          <style type="text/css">
            body {
              font: 12px/16px "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
              background:#e7e7e7;
              color: #333;
            }

            a {color: #F60;}
            a:hover { color: #F60; text-decoration: none;}

            div#header {height:36px; border-bottom: 1px solid #bbb; margin-bottom:20px; }
            h1 { float:left; margin: 0 10px 0 0; }
            h1 a { display:block; height: 24px; }
            h2 {font-size: 16px; line-height: 1.4em; color: #000; margin: 0;}

            .container {background-color: #ddd; padding: 3px; width:450px; margin: 50px auto 20px auto; border-radius: 12px }
            .content {background-color: #fff; border: 1px solid #aaa; padding: 30px; border-radius: 8px}

            p {margin: 1em 0;}

            ul { text-indent:0; margin: 1em 0 0 0; padding:0; list-style:none; }
            ul li { margin: 0 0 .7em; font-size:130%; }


          </style>
        </head>
        <body>
          <div class="container">
            <div class="content">
              <div id="header">
                <h1>
                  <a href="http://www.getharvest.com/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="24" viewBox="0 0 128 24">
                      <g fill="#E3682C" fill-rule="evenodd">
                        <path d="M0 23.07V.24h4.36v9.1h6.17V.25h4.36v22.83h-4.37V13.2H4.36v9.87H0M25.33 14.4h4.33L27.54 5.2h-.06l-2.15 9.23zm-6.23 8.67L24.76.24h5.6l5.5 22.83H31.7l-1.12-4.8h-6.04l-1.23 4.8h-4.2zm25.08-12.9h2.24c1.93 0 3.1-.95 3.1-3.16 0-2.2-1.17-3.15-3.1-3.15h-2.24v6.32zm5.88 12.9l-3.8-9.3h-2.08v9.3H39.8V.24h6.34c5.25 0 7.74 2.53 7.74 6.83 0 2.85-1 4.9-3.44 5.82l4.3 10.17h-4.68zM57.5.24h4.3l4 16.32h.07L69.85.24h4.27L68.3 23.07h-4.96L57.5.24M78.14 23.07V.24H90.1V4.1h-7.6v5.25h5.8v3.86h-5.8v6.02h7.9v3.85H78.15M101.96 3.6c-1.55 0-2.4.94-2.4 2.48 0 3.44 9.7 3.7 9.7 10.82 0 3.9-2.67 6.5-7.24 6.5-3.53 0-6.27-1.93-7.44-6.4l4.3-.92c.5 2.74 2.07 3.72 3.36 3.72 1.5 0 2.68-1 2.68-2.7 0-4.3-9.7-4.36-9.7-10.73 0-3.9 2.32-6.37 6.83-6.37 3.88 0 6.24 2.3 7 5.52l-3.9 1.13c-.73-2.14-1.68-3.06-3.2-3.06zM127.9.24V4.1h-5.08v18.97h-4.36V4.1h-5.1V.24h14.55"/>
                      </g>
                    </svg>
                  </a>
                </h1>
              </div>
              <h2>We canʼt find the page youʼre looking for.</h2>

              <p>
                Sorry about that! The page you were looking for may have been moved or the address misspelled.
              </p>

              <ul>
                <li id="market404">Go to the <a href="http://www.getharvest.com/">Harvest home page</a> or <a href="https://www.getharvest.com/contact">Contact Support</a></li>
                <li id="account404" style="display:none;">Go to <a href="/" onClick="window.location = accounturl; return false;">Your Harvest Account</a> or <a href="https://www.getharvest.com/contact">Contact Support</a></li>
              </ul>
              <script>
               <!--
                url_test();
               //-->
              </script>
            </div>
          </div>
        </body>
        </html>
  recorded_at: Fri, 21 Aug 2020 20:25:16 GMT
recorded_with: VCR 4.0.0
