---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/projects/19815868
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app8
      X-Server:
      - lb1
    body:
      encoding: UTF-8
      string: '{"id":19815868,"name":"X","code":"","is_active":true,"is_billable":true,"is_fixed_fee":false,"bill_by":"none","budget":null,"budget_by":"none","budget_is_monthly":false,"notify_when_over_budget":false,"over_budget_notification_percentage":80.0,"show_budget_to_all":false,"created_at":"2019-01-17T15:41:13Z","updated_at":"2019-01-17T15:41:13Z","starts_on":null,"ends_on":null,"over_budget_notification_date":null,"notes":"","cost_budget":null,"cost_budget_include_expenses":false,"hourly_rate":null,"fee":null,"client":{"id":6760579,"name":"Pepe","currency":"USD"}}'
  recorded_at: Thu, 17 Jan 2019 15:42:33 GMT
- request:
    method: get
    uri: https://api.harvestapp.com/v2/time_entries?project_id=19815868
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app1
      X-Server:
      - lb1
    body:
      encoding: UTF-8
      string: '{"time_entries":[{"id":927969055,"spent_date":"2019-01-17","hours":1.25,"notes":"All
        your base are belong to us","is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":100.0,"created_at":"2019-01-17T15:41:47Z","updated_at":"2019-01-17T15:41:47Z","user":{"id":2108614,"name":"Ernesto
        Tagwerker"},"client":{"id":6760579,"name":"Pepe","currency":"USD"},"project":{"id":19815868,"name":"X","code":""},"task":{"id":9713392,"name":"Programming"},"user_assignment":{"id":185838254,"is_project_manager":true,"is_active":true,"budget":null,"created_at":"2019-01-17T15:41:13Z","updated_at":"2019-01-17T15:41:13Z","hourly_rate":200.0},"task_assignment":{"id":213986102,"billable":true,"is_active":true,"created_at":"2019-01-17T15:41:13Z","updated_at":"2019-01-17T15:41:13Z","hourly_rate":null,"budget":null},"invoice":null,"external_reference":null}],"per_page":100,"total_pages":1,"total_entries":1,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/time_entries?page=1&per_page=100&project_id=19815868","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/time_entries?page=1&per_page=100&project_id=19815868"}}'
  recorded_at: Thu, 17 Jan 2019 15:42:33 GMT
[...]
