---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/contacts/7114870
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app3
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":7114870,"title":null,"first_name":"Jon","last_name":"Snow","email":"","phone_office":"","phone_mobile":"","fax":"","created_at":"2019-01-14T05:28:46Z","updated_at":"2019-01-14T05:28:46Z","client":{"id":7664502,"name":"Pepe"}}'
  recorded_at: Mon, 14 Jan 2019 05:29:56 GMT
recorded_with: VCR 4.0.0
