---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/contacts/7140797
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app9
      X-Server:
      - lb4
    body:
      encoding: UTF-8
      string: '{"id":7140797,"title":null,"first_name":"Jon","last_name":"Snow","email":"","phone_office":"","phone_mobile":"","fax":"","created_at":"2019-01-25T18:31:10Z","updated_at":"2019-01-25T18:31:10Z","client":{"id":7722246,"name":"Pepe"}}'
  recorded_at: Fri, 25 Jan 2019 18:32:29 GMT
recorded_with: VCR 4.0.0
