---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/contacts/6947840
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app6
      X-Server:
      - lb1
    body:
      encoding: UTF-8
      string: '{"id":6947840,"title":null,"first_name":"Jon","last_name":"Snow","email":"","phone_office":"","phone_mobile":"","fax":"","created_at":"2018-09-26T19:38:01Z","updated_at":"2018-09-26T19:38:01Z","client":{"id":7247638,"name":"Pepe"}}'
  recorded_at: Fri, 21 Dec 2018 19:41:06 GMT
recorded_with: VCR 4.0.0
