---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/time_entries
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app9
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"time_entries":[{"id":925117676,"spent_date":"2019-01-13","hours":6.0,"notes":null,"is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null,"created_at":"2019-01-14T05:20:24Z","updated_at":"2019-01-14T05:20:24Z","user":{"id":2348607,"name":"Alexander
        Hamilton"},"client":{"id":7664487,"name":"Pepe","currency":"USD"},"project":{"id":19758817,"name":"Castle
        Building","code":null},"task":{"id":11308391,"name":"Coding"},"user_assignment":{"id":185245506,"is_project_manager":true,"is_active":true,"budget":null,"created_at":"2019-01-14T05:20:23Z","updated_at":"2019-01-14T05:20:23Z","hourly_rate":null},"task_assignment":{"id":213359541,"billable":true,"is_active":true,"created_at":"2019-01-14T05:20:24Z","updated_at":"2019-01-14T05:20:24Z","hourly_rate":null,"budget":null},"invoice":null,"external_reference":null},{"id":925117677,"spent_date":"2019-01-12","hours":6.0,"notes":null,"is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null,"created_at":"2019-01-14T05:20:25Z","updated_at":"2019-01-14T05:20:25Z","user":{"id":2348607,"name":"Alexander
        Hamilton"},"client":{"id":7664487,"name":"Pepe","currency":"USD"},"project":{"id"[...]
- request:
    method: get
    uri: https://api.harvestapp.com/v2/time_entries?page=2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app10
      X-Server:
      - lb2
    body:
      [...]
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/time_entries/925117676
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app2
      X-Server:
      - lb2
    body:
 [...]
[...]
- request:
    method: get
    uri: https://api.harvestapp.com/v2/tasks
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app8
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"tasks":[{"id":11308391,"name":"Coding","billable_by_default":true,"default_hourly_rate":null,"is_default":false,"is_active":true,"created_at":"2019-01-14T05:20:23Z","updated_at":"2019-01-14T05:20:23Z"}],"per_page":100,"total_pages":1,"total_entries":1,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/tasks?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/tasks?page=1&per_page=100"}}'
  recorded_at: Mon, 14 Jan 2019 05:28:42 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/tasks/11308391
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app21
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":11308391,"name":"Coding","billable_by_default":true,"default_hourly_rate":null,"is_default":false,"is_active":true,"created_at":"2019-01-14T05:20:23Z","updated_at":"2019-01-14T05:20:23Z"}'
  recorded_at: Mon, 14 Jan 2019 05:28:43 GMT
- request:
    method: get
    uri: https://api.harvestapp.com/v2/projects
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app21
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"projects":[{"id":19758817,"name":"Castle Building","code":null,"is_active":true,"is_billable":true,"is_fixed_fee":false,"bill_by":"Tasks","budget":0.0,"budget_by":"person","budget_is_monthly":false,"notify_when_over_budget":false,"over_budget_notification_percentage":80.0,"show_budget_to_all":false,"created_at":"2019-01-14T05:20:23Z","updated_at":"2019-01-14T05:20:23Z","starts_on":null,"ends_on":null,"over_budget_notification_date":null,"notes":null,"cost_budget":null,"cost_budget_include_expenses":false,"hourly_rate":null,"fee":null,"client":{"id":7664487,"name":"Pepe","currency":"USD"}}],"per_page":100,"total_pages":1,"total_entries":1,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/projects?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/projects?page=1&per_page=100"}}'
  recorded_at: Mon, 14 Jan 2019 05:28:43 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/projects/19758817
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app11
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":19758817,"name":"Castle Building","code":null,"is_active":false,"is_billable":true,"is_fixed_fee":false,"bill_by":"Tasks","budget":0.0,"budget_by":"person","budget_is_monthly":false,"notify_when_over_budget":false,"over_budget_notification_percentage":80.0,"show_budget_to_all":false,"created_at":"2019-01-14T05:20:23Z","updated_at":"2019-01-14T05:28:43Z","starts_on":null,"ends_on":null,"over_budget_notification_date":null,"notes":null,"cost_budget":null,"cost_budget_include_expenses":false,"hourly_rate":null,"fee":null,"client":{"id":7664487,"name":"Pepe","currency":"USD"}}'
  recorded_at: Mon, 14 Jan 2019 05:28:43 GMT
- request:
    method: get
    uri: https://api.harvestapp.com/v2/invoices
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app1
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"invoices":[],"per_page":100,"total_pages":1,"total_entries":0,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/invoices?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/invoices?page=1&per_page=100"}}'
  recorded_at: Mon, 14 Jan 2019 05:28:44 GMT
- request:
    method: get
    uri: https://api.harvestapp.com/v2/clients
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app3
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"clients":[{"id":7664488,"name":"Toto","is_active":true,"address":null,"created_at":"2019-01-14T05:20:22Z","updated_at":"2019-01-14T05:20:24Z","currency":"USD"},{"id":7664487,"name":"Pepe","is_active":true,"address":null,"created_at":"2019-01-14T05:20:22Z","updated_at":"2019-01-14T05:20:23Z","currency":"USD"}],"per_page":100,"total_pages":1,"total_entries":2,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/clients?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/clients?page=1&per_page=100"}}'
  recorded_at: Mon, 14 Jan 2019 05:28:44 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/clients/7664488
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app8
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":7664488,"name":"Toto","is_active":true,"address":null,"created_at":"2019-01-14T05:20:22Z","updated_at":"2019-01-14T05:20:24Z","currency":"USD"}'
  recorded_at: Mon, 14 Jan 2019 05:28:44 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/clients/7664487
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app12
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":7664487,"name":"Pepe","is_active":true,"address":null,"created_at":"2019-01-14T05:20:22Z","updated_at":"2019-01-14T05:20:23Z","currency":"USD"}'
  recorded_at: Mon, 14 Jan 2019 05:28:44 GMT
recorded_with: VCR 4.0.0
