---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/time_entries
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app11
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"time_entries":[{"id":864924547,"spent_date":"2018-09-25","hours":6.0,"notes":null,"is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null,"created_at":"2018-09-26T19:35:11Z","updated_at":"2018-09-26T19:35:11Z","user":{"id":2348607,"name":"M.
        Scott Ford"},"client":{"id":7247621,"name":"Pepe","currency":"USD"},"project":{"id":18665807,"name":"Castle
        Building","code":null},"task":{"id":10616462,"name":"Coding"},"user_assignment":{"id":172471299,"is_project_manager":true,"is_active":true,"budget":null,"created_at":"2018-09-26T19:35:10Z","updated_at":"2018-09-26T19:35:10Z","hourly_rate":null},"task_assignment":{"id":201779110,"billable":true,"is_active":true,"created_at":"2018-09-26T19:35:10Z","updated_at":"2018-09-26T19:35:10Z","hourly_rate":null,"budget":null},"invoice":null,"external_reference":null},{"id":864924552,"spent_date":"2018-09-24","hours":6.0,"notes":null,"is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null,"created_at":"2018-09-26T19:35:11Z","updated_at":"2018-09-26T19:35:11Z","user":{"id":2348607,"name":"M.
        Scott Ford"},"client":{"id":7247621,"name":"Pepe","currency":"USD"},"project":{"id":1866[...]
- request:
    method: get
    uri: https://api.harvestapp.com/v2/time_entries?page=2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app21
      X-Server:
      - lb2
    body:
      [...]
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/time_entries/864924547
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app5
      X-Server:
      - lb2
    body:
 [...]
[...]
- request:
    method: get
    uri: https://api.harvestapp.com/v2/tasks
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app3
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"tasks":[{"id":10616462,"name":"Coding","billable_by_default":true,"default_hourly_rate":null,"is_default":false,"is_active":true,"created_at":"2018-09-26T19:35:10Z","updated_at":"2018-09-26T19:35:10Z"}],"per_page":100,"total_pages":1,"total_entries":1,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/tasks?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/tasks?page=1&per_page=100"}}'
  recorded_at: Wed, 26 Sep 2018 19:37:58 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/tasks/10616462
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app3
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":10616462,"name":"Coding","billable_by_default":true,"default_hourly_rate":null,"is_default":false,"is_active":true,"created_at":"2018-09-26T19:35:10Z","updated_at":"2018-09-26T19:35:10Z"}'
  recorded_at: Wed, 26 Sep 2018 19:37:58 GMT
- request:
    method: get
    uri: https://api.harvestapp.com/v2/projects
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app9
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"projects":[{"id":18665807,"name":"Castle Building","code":null,"is_active":true,"is_billable":true,"is_fixed_fee":false,"bill_by":"Tasks","budget":0.0,"budget_by":"person","budget_is_monthly":false,"notify_when_over_budget":false,"over_budget_notification_percentage":80.0,"show_budget_to_all":false,"created_at":"2018-09-26T19:35:09Z","updated_at":"2018-09-26T19:35:09Z","starts_on":null,"ends_on":null,"over_budget_notification_date":null,"notes":"","cost_budget":null,"cost_budget_include_expenses":false,"hourly_rate":null,"fee":null,"client":{"id":7247621,"name":"Pepe","currency":"USD"}}],"per_page":100,"total_pages":1,"total_entries":1,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/projects?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/projects?page=1&per_page=100"}}'
  recorded_at: Wed, 26 Sep 2018 19:37:58 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/projects/18665807
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app7
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":18665807,"name":"Castle Building","code":null,"is_active":false,"is_billable":true,"is_fixed_fee":false,"bill_by":"Tasks","budget":0.0,"budget_by":"person","budget_is_monthly":false,"notify_when_over_budget":false,"over_budget_notification_percentage":80.0,"show_budget_to_all":false,"created_at":"2018-09-26T19:35:09Z","updated_at":"2018-09-26T19:37:58Z","starts_on":null,"ends_on":null,"over_budget_notification_date":null,"notes":"","cost_budget":null,"cost_budget_include_expenses":false,"hourly_rate":null,"fee":null,"client":{"id":7247621,"name":"Pepe","currency":"USD"}}'
  recorded_at: Wed, 26 Sep 2018 19:37:59 GMT
- request:
    method: get
    uri: https://api.harvestapp.com/v2/invoices
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app21
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"invoices":[],"per_page":100,"total_pages":1,"total_entries":0,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/invoices?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/invoices?page=1&per_page=100"}}'
  recorded_at: Wed, 26 Sep 2018 19:37:59 GMT
- request:
    method: get
    uri: https://api.harvestapp.com/v2/clients
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app2
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"clients":[{"id":7247622,"name":"Toto","is_active":true,"address":null,"created_at":"2018-09-26T19:35:08Z","updated_at":"2018-09-26T19:35:11Z","currency":"USD"},{"id":7247621,"name":"Pepe","is_active":true,"address":null,"created_at":"2018-09-26T19:35:08Z","updated_at":"2018-09-26T19:35:09Z","currency":"USD"}],"per_page":100,"total_pages":1,"total_entries":2,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/clients?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/clients?page=1&per_page=100"}}'
  recorded_at: Wed, 26 Sep 2018 19:37:59 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/clients/7247622
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app8
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":7247622,"name":"Toto","is_active":true,"address":null,"created_at":"2018-09-26T19:35:08Z","updated_at":"2018-09-26T19:35:11Z","currency":"USD"}'
  recorded_at: Wed, 26 Sep 2018 19:37:59 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/clients/7247621
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app19
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":7247621,"name":"Pepe","is_active":true,"address":null,"created_at":"2018-09-26T19:35:08Z","updated_at":"2018-09-26T19:35:09Z","currency":"USD"}'
  recorded_at: Wed, 26 Sep 2018 19:38:00 GMT
recorded_with: VCR 4.0.0
