---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/time_entries
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app4
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"time_entries":[{"id":929067139,"spent_date":"2019-01-17","hours":6.0,"notes":null,"is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null,"created_at":"2019-01-18T21:28:18Z","updated_at":"2019-01-18T21:28:18Z","user":{"id":2348607,"name":"Alexander
        Hamilton"},"client":{"id":7691735,"name":"Pepe","currency":"USD"},"project":{"id":19836263,"name":"Castle
        Building","code":null},"task":{"id":11351096,"name":"Coding"},"user_assignment":{"id":186028693,"is_project_manager":true,"is_active":true,"budget":null,"created_at":"2019-01-18T21:28:16Z","updated_at":"2019-01-18T21:28:16Z","hourly_rate":null},"task_assignment":{"id":214220999,"billable":true,"is_active":true,"created_at":"2019-01-18T21:28:17Z","updated_at":"2019-01-18T21:28:17Z","hourly_rate":null,"budget":null},"invoice":null,"external_reference":null},{"id":929067140,"spent_date":"2019-01-16","hours":6.0,"notes":null,"is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null,"created_at":"2019-01-18T21:28:18Z","updated_at":"2019-01-18T21:28:18Z","user":{"id":2348607,"name":"Alexander
        Hamilton"},"client":{"id":7691735,"name":"Pepe","currency":"USD"},"project":{"id"[...]
- request:
    method: get
    uri: https://api.harvestapp.com/v2/time_entries?page=2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app2
      X-Server:
      - lb2
    body:
      e[...]
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/time_entries/929067139
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app6
      X-Server:
      - lb2
    body:
 [...]
[...]
- request:
    method: get
    uri: https://api.harvestapp.com/v2/tasks
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app9
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"tasks":[{"id":11351096,"name":"Coding","billable_by_default":true,"default_hourly_rate":null,"is_default":false,"is_active":true,"created_at":"2019-01-18T21:28:17Z","updated_at":"2019-01-18T21:28:17Z"}],"per_page":100,"total_pages":1,"total_entries":1,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/tasks?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/tasks?page=1&per_page=100"}}'
  recorded_at: Fri, 25 Jan 2019 18:31:03 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/tasks/11351096
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app20
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":11351096,"name":"Coding","billable_by_default":true,"default_hourly_rate":null,"is_default":false,"is_active":true,"created_at":"2019-01-18T21:28:17Z","updated_at":"2019-01-18T21:28:17Z"}'
  recorded_at: Fri, 25 Jan 2019 18:31:04 GMT
- request:
    method: get
    uri: https://api.harvestapp.com/v2/projects
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app8
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"projects":[{"id":19836263,"name":"Castle Building","code":null,"is_active":true,"is_billable":true,"is_fixed_fee":false,"bill_by":"Tasks","budget":0.0,"budget_by":"person","budget_is_monthly":false,"notify_when_over_budget":false,"over_budget_notification_percentage":80.0,"show_budget_to_all":false,"created_at":"2019-01-18T21:28:16Z","updated_at":"2019-01-18T21:28:16Z","starts_on":null,"ends_on":null,"over_budget_notification_date":null,"notes":null,"cost_budget":null,"cost_budget_include_expenses":false,"hourly_rate":null,"fee":null,"client":{"id":7691735,"name":"Pepe","currency":"USD"}},{"id":19836262,"name":"Road
        Building","code":null,"is_active":true,"is_billable":true,"is_fixed_fee":false,"bill_by":"Tasks","budget":0.0,"budget_by":"person","budget_is_monthly":false,"notify_when_over_budget":false,"over_budget_notification_percentage":80.0,"show_budget_to_all":false,"created_at":"2019-01-18T21:28:16Z","updated_at":"2019-01-18T21:28:16Z","starts_on":null,"ends_on":null,"over_budget_notification_date":null,"notes":null,"cost_budget":null,"cost_budget_include_expenses":false,"hourly_rate":null,"fee":null,"client":{"id":7691736,"name":"Toto","currency":"USD"}}],"per_page":100,"total_pages":1,"total_entries":2,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/projects?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/projects?page=1&per_page=100"}}'
  recorded_at: Fri, 25 Jan 2019 18:31:04 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/projects/19836263
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app8
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":19836263,"name":"Castle Building","code":null,"is_active":false,"is_billable":true,"is_fixed_fee":false,"bill_by":"Tasks","budget":0.0,"budget_by":"person","budget_is_monthly":false,"notify_when_over_budget":false,"over_budget_notification_percentage":80.0,"show_budget_to_all":false,"created_at":"2019-01-18T21:28:16Z","updated_at":"2019-01-25T18:31:04Z","starts_on":null,"ends_on":null,"over_budget_notification_date":null,"notes":null,"cost_budget":null,"cost_budget_include_expenses":false,"hourly_rate":null,"fee":null,"client":{"id":7691735,"name":"Pepe","currency":"USD"}}'
  recorded_at: Fri, 25 Jan 2019 18:31:04 GMT
[...]
- request:
    method: get
    uri: https://api.harvestapp.com/v2/invoices
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app9
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"invoices":[],"per_page":100,"total_pages":1,"total_entries":0,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/invoices?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/invoices?page=1&per_page=100"}}'
  recorded_at: Fri, 25 Jan 2019 18:31:05 GMT
- request:
    method: get
    uri: https://api.harvestapp.com/v2/clients
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app1
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"clients":[{"id":7691736,"name":"Toto","is_active":true,"address":null,"created_at":"2019-01-18T21:28:15Z","updated_at":"2019-01-18T21:28:18Z","currency":"USD"},{"id":7691735,"name":"Pepe","is_active":true,"address":null,"created_at":"2019-01-18T21:28:15Z","updated_at":"2019-01-18T21:28:16Z","currency":"USD"}],"per_page":100,"total_pages":1,"total_entries":2,"next_page":null,"previous_page":null,"page":1,"links":{"first":"https://api.harvestapp.com/v2/clients?page=1&per_page=100","next":null,"previous":null,"last":"https://api.harvestapp.com/v2/clients?page=1&per_page=100"}}'
  recorded_at: Fri, 25 Jan 2019 18:31:06 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/clients/7691736
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app21
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":7691736,"name":"Toto","is_active":true,"address":null,"created_at":"2019-01-18T21:28:15Z","updated_at":"2019-01-18T21:28:18Z","currency":"USD"}'
  recorded_at: Fri, 25 Jan 2019 18:31:06 GMT
[...]
- request:
    method: get
    uri: https://api.harvestapp.com/v2/users
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app12
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"users":[{"id":2516176,"first_name":"Jane","last_name":"Doe","email":"jane.doe@example.com","telephone":"","timezone":"Eastern
        Time (US & Canada)","weekly_capacity":126000,"has_access_to_all_future_projects":false,"is_contractor":false,"is_admin":false,"is_project_manager":false,"can_see_rates":false,"can_create_projects":false,"can_create_invoices":false,"is_active":true,"created_at":"2019-01-18T21:28:14Z","updated_at":"2019-01-18T21:28:14Z","default_hourly_rate":null,"cost_rate":null,"roles":[],"avatar_url":"https://cache.harvestapp.com/assets/profile_images/abraj_albait_towers.png?1547846894"},{"id":2516175,"first_name":"John","last_name":"Smith","email":"john.smith@example.com","telephone":"","timezone":"Eastern
        Time (US & Canada)","weekly_capacity":126000,"has_access_to_all_future_projects":false,"is_contractor":false,"is_admin":false,"is_project_manager":false,"can_see_rates":false,"can_create_projects":false,"can_create_invoices":false,"is_active":true,"created_at":"2019-01-18T21:28:14[...]
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/users/2516176
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app19
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":2516176,"first_name":"Jane","last_name":"Doe","email":"jane.doe@example.com","telephone":"","timezone":"Eastern
        Time (US & Canada)","weekly_capacity":126000,"has_access_to_all_future_projects":false,"is_contractor":false,"is_admin":false,"is_project_manager":false,"can_see_rates":false,"can_create_projects":false,"can_create_invoices":false,"is_active":true,"created_at":"2019-01-18T21:28:14Z","updated_at":"2019-01-25T18:31:07Z","default_hourly_rate":null,"cost_rate":null,"roles":[],"avatar_url":"https://cache.harvestapp.com/assets/profile_images/abraj_albait_towers.png?1547846894"}'
  recorded_at: Fri, 25 Jan 2019 18:31:07 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/users/2516175
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app1
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":2516175,"first_name":"John","last_name":"Smith","email":"john.smith@example.com","telephone":"","timezone":"Eastern
        Time (US & Canada)","weekly_capacity":126000,"has_access_to_all_future_projects":false,"is_contractor":false,"is_admin":false,"is_project_manager":false,"can_see_rates":false,"can_create_projects":false,"can_create_invoices":false,"is_active":true,"created_at":"2019-01-18T21:28:14Z","updated_at":"2019-01-25T18:31:07Z","default_hourly_rate":null,"cost_rate":null,"roles":[],"avatar_url":"https://cache.harvestapp.com/assets/profile_images/big_ben.png?1547846894"}'
  recorded_at: Fri, 25 Jan 2019 18:31:07 GMT
recorded_with: VCR 4.0.0
