---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/clients
    body:
      encoding: UTF-8
      string: '{"name":"Pepe"}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app6
      Location:
      - https://api.harvestapp.com/api/v2/clients/7247638
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":7247638,"name":"Pepe","is_active":true,"address":null,"created_at":"2018-09-26T19:38:00Z","updated_at":"2018-09-26T19:38:00Z","currency":"USD"}'
  recorded_at: Wed, 26 Sep 2018 19:38:00 GMT
recorded_with: VCR 4.0.0
