---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/clients
    body:
      encoding: UTF-8
      string: '{"name":"Pepe"}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app20
      Location:
      - https://api.harvestapp.com/api/v2/clients/7722246
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":7722246,"name":"Pepe","is_active":true,"address":null,"created_at":"2019-01-25T18:31:09Z","updated_at":"2019-01-25T18:31:09Z","currency":"USD"}'
  recorded_at: Fri, 25 Jan 2019 18:31:09 GMT
recorded_with: VCR 4.0.0
