---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/contacts
    body:
      encoding: UTF-8
      string: '{"first_name":"Cersei","last_name":"Lannister","client_id":7247639}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app3
      Location:
      - https://api.harvestapp.com/api/v2/contacts/6947842
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":6947842,"title":null,"first_name":"Cersei","last_name":"Lannister","email":"","phone_office":"","phone_mobile":"","fax":"","created_at":"2018-09-26T19:38:02Z","updated_at":"2018-09-26T19:38:02Z","client":{"id":7247639,"name":"Toto"}}'
  recorded_at: Wed, 26 Sep 2018 19:38:03 GMT
recorded_with: VCR 4.0.0
