---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/contacts
    body:
      encoding: UTF-8
      string: '{"client_id":"7722247","first_name":"Cersei","last_name":"Lannister","client":{"id":"7722247"}}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app6
      Location:
      - https://api.harvestapp.com/api/v2/contacts/7140798
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":7140798,"title":null,"first_name":"Cersei","last_name":"Lannister","email":"","phone_office":"","phone_mobile":"","fax":"","created_at":"2019-01-25T18:31:12Z","updated_at":"2019-01-25T18:31:12Z","client":{"id":7722247,"name":"Toto"}}'
  recorded_at: Fri, 25 Jan 2019 18:31:12 GMT
recorded_with: VCR 4.0.0
