---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/invoices
    body:
      encoding: UTF-8
      string: '{"client_id":"7754039","client":{"id":"7754039"},"line_items_import":{"project_ids":["20017226"],"time":{"summary_type":"task"},"expenses":{"summary_type":"category"}}}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app21
      Location:
      - https://api.harvestapp.com/api/v2/invoices/19154996
      X-Server:
      - lb1
    body:
      encoding: UTF-8
      string: '{"id":19154996,"client_key":"d271e3938bbabe53a4fdbfc42ca609abf3ef7707","number":"1","purchase_order":null,"amount":120.0,"due_amount":120.0,"tax":null,"tax_amount":0.0,"tax2":null,"tax2_amount":0.0,"discount":null,"discount_amount":0.0,"subject":null,"notes":null,"state":"draft","period_start":"2018-10-07","period_end":"2019-02-02","issue_date":"2019-02-07","due_date":"2019-02-07","payment_term":"custom","sent_at":null,"paid_at":null,"closed_at":null,"created_at":"2019-02-06T19:00:45Z","updated_at":"2019-02-06T19:00:45Z","paid_date":null,"currency":"USD","client":{"id":7754039,"name":"Pepe"},"estimate":null,"retainer":null,"creator":{"id":2528520,"name":"Chim
        takpa"},"line_items":[{"id":84912311,"kind":"Service","description":"Castle
        Building: Coding (07/10/2018 - 02/02/2019)","quantity":714.0,"unit_price":0.0,"amount":0.0,"taxed":false,"taxed2":false,"project":{"id":20017226,"name":"Castle
        Building","code":null}},{"id":84912312,"kind":"Product","description":"Castle
        Building: Meals ","quantity":1.0,"unit_price":100.0,"amount":100.0,"taxed":false,"taxed2":false,"project":{"id":20017226,"name":"Castle
        Building","code":null}},{"id":84912313,"kind":"Product","description":"Castle
        Building: Transportation ","quantity":1.0,"unit_price":20.0,"amount":20.0,"taxed":false,"taxed2":false,"project":{"id":20017226,"name":"Castle
        Building","code":null}}]}'
  recorded_at: Wed, 06 Feb 2019 19:00:46 GMT
recorded_with: VCR 4.0.0
