---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/projects
    body:
      encoding: UTF-8
      string: '{"client_id":"7722247","client":{"id":"7722247"},"name":"Road Building","is_billable":"true","bill_by":"Tasks","budget_by":"person"}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app2
      Location:
      - https://api.harvestapp.com/api/v2/projects/19919747
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":19919747,"name":"Road Building","code":null,"is_active":true,"is_billable":true,"is_fixed_fee":false,"bill_by":"Tasks","budget":null,"budget_by":"person","budget_is_monthly":false,"notify_when_over_budget":false,"over_budget_notification_percentage":80.0,"show_budget_to_all":false,"created_at":"2019-01-25T18:31:10Z","updated_at":"2019-01-25T18:31:10Z","starts_on":null,"ends_on":null,"over_budget_notification_date":null,"notes":null,"cost_budget":null,"cost_budget_include_expenses":false,"hourly_rate":null,"fee":null,"client":{"id":7722247,"name":"Toto","currency":"USD"}}'
  recorded_at: Fri, 25 Jan 2019 18:31:10 GMT
recorded_with: VCR 4.0.0
