---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/projects
    body:
      encoding: UTF-8
      string: '{"client_id":7247638,"name":"Castle Building","is_billable":true,"bill_by":"Tasks","budget_by":"person"}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app12
      Location:
      - https://api.harvestapp.com/api/v2/projects/18665855
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":18665855,"name":"Castle Building","code":null,"is_active":true,"is_billable":true,"is_fixed_fee":false,"bill_by":"Tasks","budget":null,"budget_by":"person","budget_is_monthly":false,"notify_when_over_budget":false,"over_budget_notification_percentage":80.0,"show_budget_to_all":false,"created_at":"2018-09-26T19:38:02Z","updated_at":"2018-09-26T19:38:02Z","starts_on":null,"ends_on":null,"over_budget_notification_date":null,"notes":"","cost_budget":null,"cost_budget_include_expenses":false,"hourly_rate":null,"fee":null,"client":{"id":7247638,"name":"Pepe","currency":"USD"}}'
  recorded_at: Wed, 26 Sep 2018 19:38:02 GMT
recorded_with: VCR 4.0.0
