---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/tasks
    body:
      encoding: UTF-8
      string: '{"name":"Writing"}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app4
      Location:
      - https://api.harvestapp.com/api/v2/tasks/11399470
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":11399470,"name":"Writing","billable_by_default":true,"default_hourly_rate":null,"is_default":false,"is_active":true,"created_at":"2019-01-25T19:05:24Z","updated_at":"2019-01-25T19:05:24Z"}'
  recorded_at: Fri, 25 Jan 2019 19:05:24 GMT
recorded_with: VCR 4.0.0
