---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/projects/18665855/task_assignments
    body:
      encoding: UTF-8
      string: '{"project_id":18665855,"task_id":10616483}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app8
      Location:
      - https://api.harvestapp.com/api/v2/projects/18665855/task_assignments/201779721
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":201779721,"billable":true,"is_active":true,"created_at":"2018-09-26T19:38:02Z","updated_at":"2018-09-26T19:38:02Z","hourly_rate":null,"budget":null,"project":{"id":18665855,"name":"Castle
        Building","code":null},"task":{"id":10616483,"name":"Coding"}}'
  recorded_at: Wed, 26 Sep 2018 19:38:02 GMT
recorded_with: VCR 4.0.0
