---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/tasks
    body:
      encoding: UTF-8
      string: '{"name":"Coding"}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app5
      Location:
      - https://api.harvestapp.com/api/v2/tasks/10616483
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":10616483,"name":"Coding","billable_by_default":true,"default_hourly_rate":null,"is_default":false,"is_active":true,"created_at":"2018-09-26T19:38:02Z","updated_at":"2018-09-26T19:38:02Z"}'
  recorded_at: Wed, 26 Sep 2018 19:38:02 GMT
recorded_with: VCR 4.0.0
