---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/time_entries
    body:
      encoding: UTF-8
      string: '{"project_id":"19758856","task_id":"11308412","user_id":null,"project":{"id":"19758856"},"task":{"id":"11308412"},"spent_date":"2019-01-13T05:28:47+00:00","hours":"6"}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app4
      Location:
      - https://api.harvestapp.com/api/v2/time_entries/925120241
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":925120241,"spent_date":"2019-01-13","hours":6.0,"notes":null,"is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null,"created_at":"2019-01-14T05:28:47Z","updated_at":"2019-01-14T05:28:47Z","user":{"id":2348607,"name":"Alexander
        Hamilton"},"client":{"id":7664502,"name":"Pepe","currency":"USD"},"project":{"id":19758856,"name":"Castle
        Building","code":null},"task":{"id":11308412,"name":"Coding"},"user_assignment":{"id":185245986,"is_project_manager":true,"is_active":true,"budget":null,"created_at":"2019-01-14T05:28:46Z","updated_at":"2019-01-14T05:28:46Z","hourly_rate":null},"task_assignment":{"id":213359852,"billable":true,"is_active":true,"created_at":"2019-01-14T05:28:47Z","updated_at":"2019-01-14T05:28:47Z","hourly_rate":null,"budget":null},"invoice":null,"external_reference":null}'
  recorded_at: Mon, 14 Jan 2019 05:28:47 GMT
[...]
