---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/v2/users/me
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app21
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":2348607,"first_name":"Alexander","last_name":"Hamilton","email":"scott+harvested@corgibytes.com","telephone":"","timezone":"Eastern
        Time (US & Canada)","weekly_capacity":126000,"has_access_to_all_future_projects":false,"is_contractor":false,"is_admin":true,"is_project_manager":false,"can_see_rates":true,"can_create_projects":true,"can_create_invoices":true,"is_active":true,"created_at":"2018-09-13T15:00:54Z","updated_at":"2019-01-14T03:42:13Z","default_hourly_rate":null,"cost_rate":null,"roles":[],"avatar_url":"https://cache.harvestapp.com/assets/profile_images/big_ben.png?1536850854"}'
  recorded_at: Fri, 25 Jan 2019 18:31:09 GMT
recorded_with: VCR 4.0.0
