---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/users
    body:
      encoding: UTF-8
      string: '{"first_name":"Jane","last_name":"Doe","email":"jane.doe@example.com"}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app20
      Location:
      - https://api.harvestapp.com/api/v2/users/2527916
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":2527916,"first_name":"Jane","last_name":"Doe","email":"jane.doe@example.com","telephone":"","timezone":"Eastern
        Time (US & Canada)","weekly_capacity":126000,"has_access_to_all_future_projects":false,"is_contractor":false,"is_admin":false,"is_project_manager":false,"can_see_rates":false,"can_create_projects":false,"can_create_invoices":false,"is_active":true,"created_at":"2019-01-25T18:31:08Z","updated_at":"2019-01-25T18:31:08Z","default_hourly_rate":null,"cost_rate":null,"roles":[],"avatar_url":"https://cache.harvestapp.com/assets/profile_images/allen_bradley_clock_tower.png?1548441068"}'
  recorded_at: Fri, 25 Jan 2019 18:31:08 GMT
recorded_with: VCR 4.0.0
