---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/time_entries
    body:
      encoding: UTF-8
      string: '{"project_id":"19919748","task_id":"11399145","user_id":"2348607","project":{"id":"19919748"},"task":{"id":"11399145"},"spent_date":"2018-05-14","hours":"1.0","user":{"id":"2348607"},"is_running":"false","notes":"hacked
        the things"}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app1
      Location:
      - https://api.harvestapp.com/api/v2/time_entries/933385752
      X-Server:
      - lb4
    body:
      encoding: UTF-8
      string: '{"id":933385752,"spent_date":"2018-05-14","hours":1.0,"notes":"hacked
        the things","is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null,"created_at":"2019-01-25T18:32:33Z","updated_at":"2019-01-25T18:32:33Z","user":{"id":2348607,"name":"Alexander
        Hamilton"},"client":{"id":7722246,"name":"Pepe","currency":"USD"},"project":{"id":19919748,"name":"Castle
        Building","code":null},"task":{"id":11399145,"name":"Coding"},"user_assignment":{"id":186878706,"is_project_manager":true,"is_active":true,"budget":null,"created_at":"2019-01-25T18:31:10Z","updated_at":"2019-01-25T18:31:10Z","hourly_rate":null},"task_assignment":{"id":215014748,"billable":true,"is_active":true,"created_at":"2019-01-25T18:31:11Z","updated_at":"2019-01-25T18:31:11Z","hourly_rate":null,"budget":null},"invoice":null,"external_reference":null}'
  recorded_at: Fri, 25 Jan 2019 18:32:33 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/time_entries/933385752
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app21
      X-Server:
      - lb4
    body:
[...]
