---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/time_entries
    body:
      encoding: UTF-8
      string: '{"project_id":"17367712","task_id":"9713395","spent_date":"2018-05-14","hours":"1.0","user_id":"2108614","is_running":"false","notes":"hacked
        the things"}'
    headers:
      Authorization:
      - Bearer 1484959.pt.abcdef
      Harvest-Account-Id:
      - '715808'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app21
      Location:
      - https://api.harvestapp.com/api/v2/time_entries/792860513
      X-Server:
      - lb4
    body:
      encoding: UTF-8
      string: '{"id":792860513,"spent_date":"2018-05-14","hours":1.0,"notes":"hacked
        the things","is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":100.0,"created_at":"2018-05-15T02:41:45Z","updated_at":"2018-05-15T02:41:45Z","user":{"id":2108614,"name":"Ernesto
        Tagwerker"},"client":{"id":6760579,"name":"Pepe","currency":"USD"},"project":{"id":17367712,"name":"Foo","code":""},"task":{"id":9713395,"name":"Business
        Development"},"user_assignment":{"id":157383218,"is_project_manager":true,"is_active":true,"budget":null,"created_at":"2018-05-13T03:30:06Z","updated_at":"2018-05-13T03:30:06Z","hourly_rate":200.0},"task_assignment":{"id":187893069,"billable":true,"is_active":true,"created_at":"2018-05-13T03:30:06Z","updated_at":"2018-05-15T02:00:25Z","hourly_rate":null,"budget":null},"invoice":null,"external_reference":null}'
  recorded_at: Tue, 15 May 2018 02:41:45 GMT
recorded_with: VCR 4.0.0
