---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/time_entries
    body:
      encoding: UTF-8
      string: '{"project_id":18665855,"task_id":10616483,"spent_date":"2018-05-14","hours":"1.0","user_id":2348607,"is_running":"false","notes":"hacked
        the things"}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-App-Server:
      - app20
      Location:
      - https://api.harvestapp.com/api/v2/time_entries/864927024
      X-Server:
      - lb2
    body:
      encoding: UTF-8
      string: '{"id":864927024,"spent_date":"2018-05-14","hours":1.0,"notes":"hacked
        the things","is_locked":false,"locked_reason":null,"is_closed":false,"is_billed":false,"timer_started_at":null,"started_time":null,"ended_time":null,"is_running":false,"billable":true,"budgeted":false,"billable_rate":null,"cost_rate":null,"created_at":"2018-09-26T19:39:05Z","updated_at":"2018-09-26T19:39:05Z","user":{"id":2348607,"name":"M.
        Scott Ford"},"client":{"id":7247638,"name":"Pepe","currency":"USD"},"project":{"id":18665855,"name":"Castle
        Building","code":null},"task":{"id":10616483,"name":"Coding"},"user_assignment":{"id":172471613,"is_project_manager":true,"is_active":true,"budget":null,"created_at":"2018-09-26T19:38:02Z","updated_at":"2018-09-26T19:38:02Z","hourly_rate":null},"task_assignment":{"id":201779721,"billable":true,"is_active":true,"created_at":"2018-09-26T19:38:02Z","updated_at":"2018-09-26T19:38:02Z","hourly_rate":null,"budget":null},"invoice":null,"external_reference":null}'
  recorded_at: Wed, 26 Sep 2018 19:39:05 GMT
- request:
    method: delete
    uri: https://api.harvestapp.com/v2/time_entries/864927024
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app21
      X-Server:
      - lb2
    body:
[...]
