---
http_interactions:
- request:
    method: post
    uri: https://api.harvestapp.com/v2/time_entries
    body:
      encoding: UTF-8
      string: '{"project_id":null,"task_id":null,"user_id":null}'
    headers:
      Authorization:
      - Bearer $HARVEST_ACCESS_TOKEN
      Harvest-Account-Id:
      - "$HARVEST_ACCOUNT_ID"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-App-Server:
      - app1
    body:
      encoding: UTF-8
      string: '{"message":"Project can''t be blank, Task can''t be blank, Spent date
        can''t be blank, Spent date is not a valid date"}'
  recorded_at: Fri, 25 Jan 2019 18:32:32 GMT
recorded_with: VCR 4.0.0
